@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&display=swap');



:root {
  --primary-dark: #5651e5;
  --primary-light: #709dff;
}
@media  (min-width: 0px) and (max-width: 640px) {
  .xs\:flex-col {
    flex-direction: column;
  }
}
@media  (min-width: 0px) and (max-width: 650px) {
     .sx\:mb-14 {
       margin-bottom: 60px;
     }
}
@media  (min-width: 851px) and (max-width: 1022px) {
     .hero_md {
      grid-template-columns: 1fr 2fr;
}
     }
@media  (min-width: 0px) and (max-width: 850px) {
     .hero_sm {
      display: flex;
      flex-direction: column;
}
     }
@media  (min-width: 915px) and (max-width: 3000px) {
     .remove-rela {
      position: relative;
}
     }
  .active-link {
    font-weight: bold;
  }   


@media  (min-width: 0px) and (max-width: 1050px) {
  .foot-col {
    flex-direction: column;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    
  }
}

@media (min-width: 0px) and (max-width: 600px) {
  .sx\:mb-6 {
  margin-bottom: 40px;
  }
}

.bt1g {
  border-top: rgb(202, 202, 202) 1px solid;
}


/* .react-multiple-carousel__arrow {
  display: none !important;
}

.react-multi-carousel-item-default {
  display: none !important;
} */

.icon {
  color: var(--primary-dark);
}

@layer base {
  body {
    @apply font-[Poppins]
  }

  li {
    @apply p-4
  }

  h1 {
    @apply text-3xl md:text-4xl font-bold
  }

  h2 {
    @apply text-3xl font-bold
  }

  h3 {
    @apply text-xl font-bold
  }
  button {
    @apply p-3 border bg-gradient-to-r from-[var(--primary-dark)] to-[var(--primary-light)] text-white rounded-md
  }
  .icon {
    @apply text-2xl cursor-pointer
  }
}

